@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Zlagoda</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Головна
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="products">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Товари
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="productsStore">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Товари в магазині
                    </NavLink>
                </div>
                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="customers">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Клієнти
                    </NavLink>
                </div>
                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="receipts">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Чеки
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="Manager">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="employees">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Працівники
                    </NavLink>
                </div>
                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categories">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Категорії
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>