@using DTOModels

<div class="card mb-3 shadow-sm border-primary">
    <div class="card-body">
        <h5 class="card-title mb-3">Редагування категорії</h5>
        
        <div class="mb-3">
            <label class="form-label">Назва</label>
            <input class="form-control" @bind="Category.Name" />
        </div>
        
        <div class="d-flex justify-content-end gap-2">
            <button class="btn btn-success btn-sm" @onclick="Save">Зберегти</button>
            <button class="btn btn-secondary btn-sm" @onclick="Cancel">Скасувати</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public CategoryDto Category { get; set; } = null!;

    [Parameter]
    public EventCallback<CategoryDto> OnSave { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    private async Task Save()
    {
        await OnSave.InvokeAsync(Category);
    }

    private async Task Cancel()
    {
        await OnCancel.InvokeAsync();
    }
}
