@page "/customers"
@rendermode InteractiveServer
@using Zlagoda.Components.ItemViews
@using Zlagoda.Components.ItemModifies
@using Zlagoda.ViewModels
@inject CustomersVM ViewModel

<h3>Постійні клієнти</h3>

<div class="mb-3">
    @if (ViewModel.IsCreating && ViewModel.NewCustomer != null)
    {
        <CustomerModify Customer="@ViewModel.NewCustomer" OnSave="@ViewModel.SaveNewCustomer" OnCancel="@ViewModel.CancelCreate" />
    }
    else
    {
        <button class="btn btn-success" @onclick="ViewModel.ShowCreateNew">Додати клієнта</button>
    }
</div>

@if (ViewModel.Customers == null)
{
    <p><em>Завантаження...</em></p>
}
else if (!ViewModel.Customers.Any())
{
    <p><em>Немає клієнтів</em></p>
}
else
{
    <div class="customer-list" style="max-height: 70vh; overflow-y: auto; padding-right: 10px;">
        @foreach (var customer in ViewModel.Customers)
        {
            <CustomerView Customer="@customer" OnSave="ViewModel.EditCustomer" OnDelete="ViewModel.DeleteCustomer"/>
        }
    </div>
}

@code {
    
    protected override void OnInitialized()
    {
        ViewModel.LoadCustomers();
    }
}
